*.tr
unicharset
shapetable
pffmtable
normproto
inttemp
deu_frak_adler.unicharset
deu_frak_adler.freq-dawg
deu_frak_adler.number-dawg
deu_frak_adler.punc-dawg
deu_frak_adler.word-dawg
deu_frak_adler.traineddata
frequency_list_aug
word_list_aug


